<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="ion-title">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>Auto-Peças</h1> 
  <p>Bem-vindo ao seu aplicativo de auto-peças</p>

<ion-card id="card-home">
        <img src="https://www.casasbahia-imagens.com.br/automotivo/Suspensao-Direcao/Amortecedor/10050592/570115109/Kit-4-Amortecedores-Parati-Surf---Track-field---City---Crossover--Coxins-Axios---Kits--batentes-e-coifas--10050592.jpg" />
        <ion-card-header>
          <ion-card-subtitle id="ion-card-header">Temos amortecedores para todas as marcas</ion-card-subtitle>
          <ion-card-title id="ion-card-title">Amortecedores</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          
        </ion-card-content>
      </ion-card>


 </ion-content>
