#ion-title{
	text-align: center;
}
#ion-card-header{
	font-size: 10px;
}
#ion-card-title{
	font-size: 15px;
}
#card-home{
	margin: 0px 0px 0px 2px;
}
h1{
	text-align: center;
}
p{
    font-size: 15px;
}